      <form method="get" action="<%= user_omniauth_authorize_path(:vkontakte) %>" style="position:absolute; top: 50%; left:50%">
        <button type="submit" class="btn btn-primary btn-lg">Войти</button>
      </form>