<div class="root-container">
  <h1 style="color:rgb(235, 227, 227)">Лента</h1>
  <h1></h1>
  <p>Вам когда-нибудь было интересно, что происходит за пределами Вашего ближайшего круга знакомств?
  </p>
  <p>Лента подбирает новости и личные истории реальных людей, которые интересны именно Вам, с учетом Ваших персональных предпочтений.
  </p>
  <p>Просто отметьте 50 постов, которые Вам понравятся и наслаждайтесь своей персонализированной новостной лентой социальной сети Вконтакте
  </p>
  <br/>
  <form action="<%=user_omniauth_authorize_path(:vkontakte) %>">
    <input type="submit" value="Начать" class="btn btn-success">
  </form>
</div>

