@import "bootstrap";
@import "mixins";
@import "posts";

html, body{
  height:100%;
  margin:0;
}

.global {
  position: relative;
  overflow:hidden;
  min-height:100%;
  min-width:800px;
  @include gradient-vertical-three-colors(rgb(240,244,247), rgb(190,220,170), 75%, rgb(212,242,190));
}