// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-header {
  padding: 10px;
  background-color: rgba(255,255,255,0.3);
  @include bordered;
  position: fixed;
  width: 100%;
  .post-header-cell {
    display: inline-block;
    vertical-align: bottom;
    h3 {
      margin: 0;
    }
  }
}

.post {
  margin: 30px auto;
  width: 70%;
  background-color: rgba(255,255,255,0.3);
  @include bordered;
}

.post-data {
  width: 100%;
  text-align: center;
  th {text-align: center;}
}